$primary: #DA1A32;
$secundary: #A00C30;
$third: #121514;
$fourth: #161616;
$fifth: #252525;
$background: #090909;
$black-text: #000000;
$white-text: #ffffff;
$button-hover: #5b79a2;

:root {
  --primary: #DA1A32;
  --secundary: #A00C30;
  --third: #121514;
  --fourth: #161616;
  --fifth: #252525;
  --background: #090909;
  --black-text: #000000;
  --white-text: #ffffff;
  --button-hover: #5b79a2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--background);
  font-family: 'Manrope', sans-serif;
  padding: 0;
  margin: 0;
}

.header {
  background-color: var(--secundary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  padding: 5px;
}

header nav {
  text-align: right;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

header nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  margin-right: 30px;
}

.header .logo img {
  height: 50px;
  width: auto;
}

/* Hero */

#main-inicio {
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero {
  position: relative;
  z-index: 1;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  font-size: 1.7rem;
  color: var(--white-text);
  text-align: center;
  margin: 1rem;
}

main p {
  font-size: 1rem;
  color: var(--white-text);
  text-align: center;
  margin-right: 5rem;
  margin-left: 5rem;
}

main form {
  display: flex;
  justify-content: center;
}

main form button {
  margin: 0 .5rem;
  width: 8rem;
  height: 2.5rem;
  font-size: 1.1rem;
}

.hero-button {
  background-color: var(--primary);
  color: var(--white-text);
  border-style: none;
  font-size: 16px;
}

.hero-button:hover {
  background-color: var(--white-text);
  color: var(--primary);
  border-style: solid 0.1rem var(--primary);
  transition: all 0.3s;
}

main img {
  height: 80vh;
}

/* Media Query */

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
  main p {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  main img {
    height: auto;
  }

  section > .tarjetas {
    width: 100%;
  }
}

@media (max-width: 767px) {
  main {
    height: auto;
  }

  .hero-button {
    width: 100%;
  }
}

/* Tamaño celular */
@media (max-width: 320px) {
  #main-conciertos .conciertos {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 150px);
  }
}

@media (max-width: 767px) {
  #main-inicio {
    flex-direction: column-reverse;
  }

  .description {
    font-size: 1.2rem;
    text-align: center;
  }

  main img {
    width: 100%;
  }

  main p {
    margin: 0 2rem;
    text-align: center;
  }
}

/* Seccion 1 Inicio */

section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #121514;
}

section > .tarjetas {
  width: 300px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 40px;
  margin-bottom: 40px;
  transition: box-shadow 0.3s ease-in-out;
}

section .tarjetas:hover {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5);
}

section .tarjetas > img {
  width: 100%;
  height: fit-content;
}

section .tarjetas > h2 {
  color: #fff;
  font-family: 'Manrope', sans-serif;
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
}

/* Seccion 2 Inicio */

.container-fluid {
  width: 100%;
  height: auto;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  background-color: #090909;
  display: block;
  color: #ffffff;
  text-align: center;
}

.container h2 {
  color: #ffffff;
  font-family: 'Manrope', sans-serif;
  font-size: 25px;
}

.container p {
  color: #ffffff;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
}

.carousel-control-prev,
.carousel-control-next {
  color: #DA1A32;
  font-size: 24px;
}

.img-propia {
  width: 100%;
  height: 600px;
}

.img-propia {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

/*:::::Conciertos*/

#main-conciertos .conciertos {
  border: 1px solid black;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(3, minmax(1, 1fr));
  grid-template-rows: repeat(3, minmax(1, 1fr));
  /* gap: 10px; */
  grid-template-areas: "area1 area2 area3" "area4 area5 area6" "area7 area8 area9";
}

.area {
  border: 1px solid black;
  overflow: hidden;
  position: relative;
}

.area {
  .area img {
    object-fit: cover;
  }
}

#area1 {
  grid-area: area1;
}

#area2 {
  grid-area: area2;
}

#area3 {
  grid-area: area3;
}

#area4 {
  grid-area: area4;
}

#area5 {
  grid-area: area5;
}

#area6 {
  grid-area: area6;
}

#area7 {
  grid-area: area7;
}

#area8 {
  grid-area: area8;
}

#area9 {
  grid-area: area9;
}

/* Media Queries */
@media (max-width: 768px) {
  #main-conciertos .conciertos {
    border: 1px solid rgb(0, 0, 0);
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(4, 200px);
    grid-template-areas: "area1 area2 area3" "area4 area5 area6" "area7 area8 area9";
  }
}

/* Tamaño celular */
@media (max-width: 320px) {
  #main-conciertos .conciertos {
    border: 1px solid black;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 150px);
    grid-template-areas: "area1" "area2" "area3" "area4" "area5" "area6" "area7" "area8" "area9";
  }
}

@media (max-width: 767px) {
  main form button {
    width: auto;
  }
}

/* Formulario de contacto */
main form {
  max-width: 1000px;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

main form label {
  color: var(--white-text);
}

main form input,
main form select,
main form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--third);
  border-radius: 5px;
  box-sizing: border-box;
}

main form button {
  margin: 0.5rem 0;
  width: 8rem;
  height: 2.5rem;
  font-size: 1.1rem;
}

main form button:hover {
  background-color: var(--button-hover);
}

/* Sección 1: Artista del Mes */
#artista-del-mes-section {
  background: linear-gradient(to bottom, var(--primary), var(--secundary));
  color: var(--white-text);
  text-align: center;
  padding: 50px 0;
}

#artista-del-mes-section h2 {
  font-size: 4rem;
}

.galeria {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.galeria img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  margin: 10px;
}

/*:::::Acerca*/

#main-section {
  text-align: center;
}

.content {
  max-width: 1300px;
  margin: 0 auto;
}

h1 {
  color: #ffffff;
  font-size: 2rem;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 30px;
}

p {
  color: #ffffff;
  font-size: 1rem;
  font-family: 'Manrope', sans-serif;
  margin-bottom: 20px;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

/*:::::Pie de Pagina*/
.pie-pagina {
  width: 100%;
  background-color: #A00C30;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #ffffff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #ffffff;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: space-around;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  text-align: center;
}

.pie-pagina .grupo-2 {
  background-color: #202020;
  padding: 15px 10px;
  text-align: center;
  color: #ffffff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

.pie-pagina .grupo-1 {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
